* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f4ddc272;
}

nav{
  background-color: rgb(0, 0, 0);
}

ul li {
  display: inline-block;
  margin:30px;
}

li, a {
  color:rgb(255, 166, 0);
  text-decoration: none;
}

.nav_links{
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color:rgb(255, 255, 255);
  text-decoration: underline;
}

.selectName{
  display: flex;
  align-items: stretch;
  margin: auto;
  margin-top: 30vh;
  width: 15vw;
  padding: 1em;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: space-between;
}

.inputSelectName{
  height: 40px;
}

.btn-sub {
  flex: 1;
  height: 200px;
  margin-top: 10px;
}

.btn-sub:hover {
  background-color: #1ad421;
}

.chatSelectName{
  display: flex;
  align-items: stretch;
  margin: 5vh auto;
  max-width: 40vw;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: space-between;
}

.btn-sub2 {
  margin-top: 10px;
  height: 40px;
}

.btn-sub2:hover {
  background-color: #1ad421;
}

.chatContainer {
  margin: 5vh auto;
  overflow-y: scroll;
  max-width: 40vw;
  max-height: 60vh;
}

.textarea-style{
  resize: none;
  max-width: inherit;
  height: 4rem;
}

.chatContainer::-webkit-scrollbar {
  width: 16px;
}

.chatContainer::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.chatContainer::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.chat-messages{
  background-color: #d4aa70;
  max-width: 30%;
  margin: 15px auto;
  border-radius: 10px;
}